<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VietDict.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Dark mode</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Office 2019 Colorful">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="41,45,51" />
                <SvgColor Name="Paint High" Value="219,229,241" />
                <SvgColor Name="Paint Shadow" Value="41,45,51" />
                <SvgColor Name="Paint Deep Shadow" Value="41,45,51" />
                <SvgColor Name="Brush" Value="41,45,51" />
                <SvgColor Name="Brush High" Value="72,70,68" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="89,89,89" />
                <SvgColor Name="Accent Paint Dark" Value="0,90,158" />
                <SvgColor Name="Accent Paint Light" Value="205,230,247" />
                <SvgColor Name="Accent Paint Lighter" Value="230,242,250" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="179,214,242" />
                <SvgColor Name="Red" Value="237,61,59" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="248,248,248" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #3">
                <SvgColor Name="Paint" Value="248,248,248" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="72,70,68" />
                <SvgColor Name="Brush High" Value="72,70,68" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="16,110,190" />
                <SvgColor Name="Accent Paint Dark" Value="0,90,158" />
                <SvgColor Name="Accent Paint Light" Value="205,230,247" />
                <SvgColor Name="Accent Paint Lighter" Value="230,242,250" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="179,214,242" />
                <SvgColor Name="Red" Value="237,61,59" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="248,248,248" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="41,45,51" />
                <SvgColor Name="Paint High" Value="41,45,51" />
                <SvgColor Name="Paint Shadow" Value="41,45,51" />
                <SvgColor Name="Paint Deep Shadow" Value="41,45,51" />
                <SvgColor Name="Brush" Value="242,242,242" />
                <SvgColor Name="Brush High" Value="255,255,255" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush Major" Value="127,127,127" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="31,73,125" />
                <SvgColor Name="Accent Paint Dark" Value="0,90,158" />
                <SvgColor Name="Accent Paint Light" Value="216,216,216" />
                <SvgColor Name="Accent Paint Lighter" Value="216,216,216" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="179,214,242" />
                <SvgColor Name="Red" Value="237,61,59" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="248,248,248" />
              </SvgPalette>
            </Skin>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="255,255,255" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="38,38,38" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush High" Value="0,0,0" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="212,212,212" />
                <SvgColor Name="Accent Paint" Value="16,110,190" />
                <SvgColor Name="Accent Paint Light" Value="204,227,245" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="112,164,235" />
                <SvgColor Name="Key Paint" Value="255,255,255" />
                <SvgColor Name="Key Brush" Value="38,38,38" />
                <SvgColor Name="Key Brush Light" Value="119,119,119" />
                <SvgColor Name="Red" Value="235,60,0" />
                <SvgColor Name="Green" Value="104,164,144" />
                <SvgColor Name="Blue" Value="77,130,184" />
                <SvgColor Name="Yellow" Value="234,194,130" />
                <SvgColor Name="Black" Value="114,114,114" />
                <SvgColor Name="Gray" Value="175,173,175" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="235,60,0" />
                <SvgColor Name="altGreen" Value="104,164,144" />
                <SvgColor Name="altBlue" Value="77,130,184" />
                <SvgColor Name="altYellow" Value="234,194,130" />
                <SvgColor Name="altBlack" Value="114,114,114" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Dark mode">
                <SvgColor Name="Paint" Value="41,45,51" />
                <SvgColor Name="Paint High" Value="41,45,51" />
                <SvgColor Name="Paint Shadow" Value="41,45,51" />
                <SvgColor Name="Paint Deep Shadow" Value="64,64,64" />
                <SvgColor Name="Brush" Value="240,240,240" />
                <SvgColor Name="Brush Light" Value="110,110,110" />
                <SvgColor Name="Brush High" Value="240,240,240" />
                <SvgColor Name="Brush Major" Value="104,104,104" />
                <SvgColor Name="Brush Minor" Value="68,68,68" />
                <SvgColor Name="Accent Paint" Value="16,110,190" />
                <SvgColor Name="Accent Paint Light" Value="80,80,80" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="71,134,181" />
                <SvgColor Name="Key Paint" Value="41,45,51" />
                <SvgColor Name="Key Brush" Value="240,240,240" />
                <SvgColor Name="Key Brush Light" Value="110,110,110" />
                <SvgColor Name="Red" Value="222,56,0" />
                <SvgColor Name="Green" Value="83,151,128" />
                <SvgColor Name="Blue" Value="56,126,196" />
                <SvgColor Name="Yellow" Value="221,183,122" />
                <SvgColor Name="Black" Value="192,192,192" />
                <SvgColor Name="Gray" Value="91,91,92" />
                <SvgColor Name="White" Value="54,54,54" />
                <SvgColor Name="altRed" Value="222,56,0" />
                <SvgColor Name="altGreen" Value="83,151,128" />
                <SvgColor Name="altBlue" Value="56,126,196" />
                <SvgColor Name="altYellow" Value="221,183,122" />
                <SvgColor Name="altBlack" Value="192,192,192" />
                <SvgColor Name="altWhite" Value="54,54,54" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <VietDict.Settings1>
      <setting name="wordListingFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="meaningListingFont" serializeAs="String">
        <value>9</value>
      </setting>
    </VietDict.Settings1>
  </userSettings>
  <appSettings>
    <add key="LightMode" value="0" />
    <add key="WordSize" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>